.horizontal-scroll-container {
  display: flex;
  flex-direction: row;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: auto;
  max-width: calc(100% + 10px);

  &::-webkit-scrollbar {
    display: none;
  }

  padding: 12px;

  border-bottom: 1px solid #dddddd;
}
