<ion-header no-border no-shadow no-lines *ngIf="entered">
  <ion-toolbar no-border no-shadow no-lines>
    <app-search-input></app-search-input>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="entered">
  <app-search-modal></app-search-modal>
  <div class="horizontal-scroll-container">
    <app-category-text
            *ngFor="let category of categories"
            (click)="activeCategoryId = category.id"
            [name]="category.name"
            [active]="activeCategoryId === category.id"
    ></app-category-text>
  </div>
</ion-content>
