.popular-recipe {
  min-width: 276px;
  max-height: 120px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #EFEFEF;
  margin-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-snap-align: center;

  .popular-recipe__desc--separator {
    height: 1px;
    width: 50px;
    background-color: #D8D8D8;
    margin: 10px 0 10px 0;
  }

  .popular-recipe__image {
    flex: 0 0 39%;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
  }

  .popular-recipe__desc {
    flex: 0 0 55%;
    justify-content: space-between;

    > * {
      align-self: stretch;
    }
    p {
      margin: 0;
    }

    h4 {
      font-size: 18px;
      margin: 0;
    }
  }

  .popular-recipe__desc--prep-time, .popular-recipe__desc--steps {
    opacity: 0.5;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #7F7F7F;
    margin: 5px 0 5px 0;

    ion-icon {
      color: #7F7F7F;
      margin-right: 13px;
    }
  }
}
