<div class="popular-recipe">

<!--  LEFT-->
  <div class="popular-recipe__image" [ngStyle]="{backgroundImage: 'url(' + image +')'}">

  </div>

<!--  RIGHT-->
  <div class="popular-recipe__desc">
    <h4>{{name}}</h4>
    <div class="popular-recipe__desc--separator"></div>
    <div class="popular-recipe__desc--prep-time">
      <ion-icon name="timer-outline"></ion-icon>
      <p>{{prepTime}} minutes</p>
    </div>
    <div class="popular-recipe__desc--steps">
      <ion-icon name="steps"></ion-icon>
      <p>{{steps}} steps</p>
    </div>
  </div>

</div>
