//ion-tab-bar {
//  --background: var(--ion-color-primary);
//}

//ion-tab-button {
//  --color: var(--ion-color-light);
//}
//
//ion-label {
//  --color: white;
//}
//.tab {
//  .tab__button {
//.tab__button--active {
//  background: var(--icon-color-shadowed) !important;
//}

ion-tab-bar {
  padding: 2px 5px 2px 5px;
  border: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

ion-tab-button {
  max-height: 46px;
  transition: background-color 0.3s;
  border-radius: 10px;
  &.tab-selected {
    --background: var(--ion-color-shadowed) !important;
    background-color: rgba(0, 0, 0, 0.1376);

  }

}

ion-tab-button.tab-selected {
}

ion-tab-button:nth-child(1) {
  //padding-left: 1em;
  //padding-right: 1em;
  ion-icon {
    margin-right: 0.2em;
  }
}
