<ion-tabs (ionTabsWillChange)="transition($event)">
  <ion-tab-bar slot="bottom" color="primary" mode="md">
    <ion-tab-button routerLinkActive="tab-selected" tab="explore" layout="icon-start">
      <ion-icon name="explore"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" tab="dishes">
      <ion-icon name="dish"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" tab="shopping-list">
      <ion-icon name="shopping-list"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" tab="user-profile">
      <ion-icon name="custom-user-profile"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
