.category-text {
  font-size: 14px;
  margin-right: 15px;
  text-align: center;
  color: #c8c8c8;
  transition: color, border-bottom-color, border-bottom-width 0.3s;
  line-height: 30px;

  &.active {
    border-bottom: 1px solid #919191;
    color: #919191;
  }
}
