ion-icon {
  &[name*="dish"] {
    width: 0.8em;
    height: 0.8em;
  }

  &[name*="explore"], &[name*="shopping-list"], &[name*="custom-user-profile"] {
    width: 0.9em;
  }
  //&[class*="foodie-dish"] {
  //  mask-image: url(/assets/images/icons/dish.svg);
  //}
}
