<div *ngIf="provider.searchActive$ | async" class="search-modal" [@inAnimation] #searchModal>
    <ul>
        <li *ngFor="let search of provider.lastSearches$ | async">
            {{search}}
        </li>
    </ul>
</div>
