.search-modal {
  height: 100%;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background: white;

  ul {
    list-style-type: none;
    padding: 0 32px 10px 32px;
    margin-top: 0;

    li {
      min-height: 50px;
      border-bottom: 0.8px solid #e7e7e7;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
}
