.category-card__image {
  width: 120px;
  height: 87px;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

.category-card__title {
  font-size: 13px;
  font-weight: 500;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 120px;
  max-height: 110px;
  margin-right: 10px;
  scroll-snap-align: center;

}
