:host {
  display: flex;
  flex-direction: row;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: auto;
  max-width: calc(100% + 10px);

  scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(350px);

  &::-webkit-scrollbar {
    display: none;
  }

  app-popular-recipe {
    scroll-snap-align: start;
  }
}
