<ion-header no-border no-shadow no-lines *ngIf="entered">
    <ion-toolbar no-border no-shadow no-lines>
        <app-search-input></app-search-input>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="entered">
    <app-search-modal></app-search-modal>
    <section class="content-padding categories">
        <h3>Categories</h3>
        <app-categories-container>
            <app-category-card
                    *ngFor="let category of categories"
                    [title]="category.name"
                    [image]="category.image"
            >
            </app-category-card>
        </app-categories-container>
    </section>
    <section class="content-padding popular-recipes">
        <h3>Popular Recipes</h3>
        <app-recipes-container>
            <app-popular-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
            ></app-popular-recipe>
            <app-popular-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
            ></app-popular-recipe>
            <app-popular-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
            ></app-popular-recipe>
            <app-popular-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
            ></app-popular-recipe>
        </app-recipes-container>
    </section>
    <section class="content-padding popular-recipes">
        <h3>Newest Recipes</h3>
        <app-recipes-container appScrollSpeed>
            <app-new-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
                    [category]="'Pizza'"
            ></app-new-recipe>
            <app-new-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
                    [category]="'Pizza'"
            ></app-new-recipe>
            <app-new-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
                    [category]="'Pizza'"
            ></app-new-recipe>
            <app-new-recipe
                    [image]="'https://www.mojegotowanie.pl/uploads/media/recipe/0001/100/pizza-z-kurczakiem.jpeg'"
                    [name]="'Neapolitana'"
                    [prepTime]="100"
                    [steps]="6"
                    [category]="'Pizza'"
            ></app-new-recipe>
        </app-recipes-container>
    </section>
</ion-content>
