app-categories-container {
  padding: 10px;
}

app-recipes-container {
  padding: 10px;
}

section {
  margin-bottom: 8px;
  margin-top: 15px;

  h3:first-child {
    margin-left: 12px;
    margin-bottom: 8px;
  }

  &.categories{
    margin-bottom: 20px;
  }
}


.content-padding {
  //padding-right: 12px;
  //padding-left: 12px;
}

ion-toolbar {
  padding: 12px;
}

