<div class="input-wrapper">
    <div class="search-back" *ngIf="focused" [@inAnimationBack]>
        <ion-icon name="chevron-back-outline" (click)="closeModal()"></ion-icon>
    </div>
    <div class="search-input">
        <input placeholder="Search for meals" (focusin)="openModal()">
        <ion-icon name="search-outline"></ion-icon>
    </div>
</div>
