.search-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  width: 40px;
  align-self: auto;
  border-radius: 4px;
  height: 38px;
  margin-right: 10px;
}

.search-input {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  padding-right: 10px;
  width: 100%;
  transition: all 0.3s;

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 0.95em;
    padding-left: 12px;
    line-height: unset;
    padding-top: 7.5px;
    padding-bottom: 7.5px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 0.95em;
    }
  }
}

ion-icon {
  width: 30px;
  font-size: 15px;
  color: #7F7F7F;
  font-weight: 300;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  justify-content: space-between;
  min-height: 38px;
}
