.new-recipe {
  width: 226px;
  max-width: 240px;
  min-height: 120px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #EFEFEF;
  margin-right: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;

  .new-recipe__image {
    min-height: 100px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    margin-bottom: 8px;
  }

  .new-recipe__desc {
    flex: 0 0 55%;
    justify-content: space-between;

    > * {
      align-self: stretch;
    }
    p {
      margin: 0;
    }

    h4 {
      font-size: 18px;
      margin: 0;
    }

    h5 {
      font-size: 14px;
      color: #000000;
      opacity: .501;
      margin: 5px 0 5px 0
    }
  }

  .new-recipe__desc--prep-time, .new-recipe__desc--steps {
    opacity: 0.5;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #7F7F7F;
    margin: 0px 0 5px 0;

    ion-icon {
      color: #7F7F7F;
      margin-right: 5px;
    }
  }

  .new-recipe__desc--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
