<div class="new-recipe">

    <!--  LEFT-->
    <div class="new-recipe__image" [ngStyle]="{backgroundImage: 'url(' + image +')'}">

    </div>

    <!--  RIGHT-->
    <div class="new-recipe__desc">
        <h4>{{name}}</h4>
      <h5>{{category}}</h5>
        <div class="new-recipe__desc--info">
            <div class="new-recipe__desc--prep-time">
                <ion-icon name="timer-outline"></ion-icon>
                <p>{{prepTime}} minutes</p>
            </div>
            <div class="new-recipe__desc--steps">
                <ion-icon name="steps"></ion-icon>
                <p>{{steps}} steps</p>
            </div>
        </div>
    </div>

</div>
